html,body {
    display:block;
    height:100%;
}

/* Set padding to keep content from hitting the edges */
.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.main
{
    display:block;
    overflow:auto;
    height:100%;
}

.allCustomers {
    padding: 0px;
}

.panel-heading {
    background-color: #173e43;
    text-align: center;
    color: white;
}

.bookings {
    padding: 0px;
    padding-right: 0px;
}

.panel-heading h1 {
    text-shadow: 2px 2px #808080;
}

.panel-body {
    padding-bottom: 55px;
}

.container-fluid {
    padding-left: 0px;
    height: 100%;
}

#CreateCustomer {
    margin-top: 20px;
}

.customers {
    margin-bottom: 20px;
    background-color: #dddfd4;
    color: black;
    border: solid;
    border-width:thin;
}

    .customers:hover {
        background-color: white;
        color: black;
    }

.createbtn {
    margin-top: 10px;
}

#AllBookings h2, #NewBooking h2, NewBooking h3 {
    text-align: center;
    color:#173e43 ;
}

.list-group {
    margin-top: 20px;
}

.img-responsive {
    max-height: 250px;
    margin-top: 10px;
    margin-bottom: 15px;
}

hr {
    background-color: #173e43;
    height: 2px;
}
#indiviudualbooking
{
    border:solid;
    border-color:cadetblue;
    border-width:thin;
    margin-bottom:20px;
    padding:20px;
    min-height:250px
}
.map { height:200px; width:500px; }
.bookings{
    background-color:#fae596; 
    min-height:100%;  
    overflow:auto;
     display:block;
}
#indiviudualbooking
{
    background-color:#3fb0ac; 
}
#ajaxloader
{
    margin-top:100px;
    top:10% ;
    left:56%;
	position: absolute;
	width: 60px;
	height: 60px;
	border: 8px solid #173e43;
	border-right-color: transparent;
	border-radius: 50%;
	box-shadow: 0 0 25px 2px #173e43;
}
#ajaxloader
{
	animation: spin 1s linear infinite;
}
@keyframes spin
{
	from { transform: rotate(0deg);   opacity: 0.2; }
	50%  { transform: rotate(180deg); opacity: 1.0; }
	to   { transform: rotate(360deg); opacity: 0.2; }
}

