body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.panel
{
    padding:0px;
    border-right:ridge;
    border-color:cadetblue;
    border-left:none;
    border-bottom:none;
    border-top:none;
    height:100%;
}
.panel-heading{
    background-color:cadetblue;
    text-align:center;
    color:white;
    text-decoration:wavy;
}
.panel-heading h1{
    text-shadow: 2px 2px #ff0000;
}
.container-fluid{
    padding-left:0px;
    height:100%;
}

.customers {
    margin-bottom:20px;
    background-color:khaki;
    color:black;
    border:none;
}
.customers:hover{
    background-color:gainsboro!important;
}
