<div class="main">
    <div class="col-md-3 panel">
        <div class="panel-heading"><h1>Customers</h1></div>
        <div class="panel-body" data-bind="template: {  foreach:customers }">
            <div href="#" class="btn btn-sq-lg btn-primary col-md-10 col-md-offset-1 customers">
                <h2><span class="details" data-bind="text:FirstName"></span> <span data-bind="text:LastName" class="details"></span></h2>
                <strong>DOB:</strong><span data-bind="text: moment(DOB).format('DD-MMMM-YYYY')"></span>
                <hr />
                <div>
                    <button class="btn btn-danger btn-xs">delete</button>
                    <button class="btn btn-info btn-xs">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/Index")
}
