<div class="main row">
    @*------Customers-------*@
    <div class="col-md-3 allCustomers">
        <div class="panel-heading"><h1>Customers</h1></div>
        <button class="btn btn-info col-md-offset-3 createbtn" data-bind="click: CreateCustomer">Create New Customer</button>
        <div class="panel-body" data-bind="template: {  foreach:customers }">
            <div class="btn btn-sq-lg btn-primary col-md-10 col-md-offset-1 customers" data-bind="click:$parent.CustomerBookings">
                <h3><span class="details" data-bind="text:FirstName"></span> <span data-bind="text:LastName" class="details"></span></h3>
                <strong>DOB:</strong><span data-bind="text: moment(DOB).format('DD-MMMM-YYYY')"></span>
                <hr />
                <div>
                    <button class="btn btn-danger btn-xs">delete</button>
                    <button class="btn btn-info btn-xs">Edit</button>
                </div>
            </div>
        </div>

        @*------------Create Customer------------*@
        <form id="CreateCustomer" hidden="hidden">
            <div data-bind="with: newCustomer">
                <div class="col-md-10 col-md-offset-1">
                    <div class="form-group">
                        <input id="txtName" placeholder="First Name" class="form-control" data-bind="value:FirstName" required>
                    </div>
                    <div class="form-group">
                        <input id="txtDescription" placeholder="Last Name" class="form-control" data-bind="value:LastName" required>
                    </div>
                    <div class="form-group">
                        <div class="has-feedback">
                            <input type="text" id="datepicker" placeholder="Date of Birth" class="form-control" data-bind="value:DOB" required>
                            @*<i class="glyphicon glyphicon-calendar input-group-addon"></i>*@
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <button class="btn btn-info col-md-offset-3" data-bind="click: CreateNewCustomer" id="crteCust">Create New Customer</button>
    </div>
    @*-----------------Bookings Div------------------------*@
    <div class="col-md-9 bookings">
        <div class="panel-heading"><h1>Bookings and Acticities</h1><button class="btn btn-lg btn-warning pull-right" id="CreateBooking" style="margin-top:-55px" data-bind="click: CreateBooking">New Booking</button></div>
        <div class="col-md-12" id="AllBookings" hidden="hidden">
            <h2><span data-bind="text:CustomerName"></span>'s Booking</h2>

            <div data-bind="foreach: BookingsForCustomer">
                <div id="indiviudualbooking">
                    <div class="col-md-4">
                        <h3 data-bind="text: Activity_Name"></h3>
                        <label>Country:</label><span data-bind="text:Country"></span><br />
                        <label>City:</label><span data-bind="text:City"></span><br />
                        <label>Booking Date:</label><span data-bind="text:moment(BookingDate).format('DD-MMMM-YYYY')"></span><br /><br />
                        <button class="btn btn-danger" data-bind="click:$parent.DeleteBooking ">Cancel Booking</button>
                    </div>
                    <div class="map" data-bind="googlemap: { latitude: Latitude, longitude: Longitude }"></div>

                </div>
            </div>
        </div>
        @*--------------Create booking------------------*@
        <div class="col-md-12" id="NewBooking" hidden="hidden">
            <h2><span>New Booking for</span>  <span data-bind="text:CustomerName"></span></h2>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Please Select a Country
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">New Zealand</a></li>
                    <li><a href="#">United States</a></li>
                    <li><a href="#">United Kingdom</a></li>
                    <li><a href="#">Australia</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="list-group" hidden="hidden">
                    <a href="#" class="list-group-item active">
                        List Of Activity Centres
                    </a>
                    <div data-bind="template: {  foreach:places }">
                        <a class="list-group-item" data-bind="click:$parent.CentreActivies"><span data-bind="text:name"></span></a>
                    </div>
                </div>
            </div>
            <div id="Activitydetails" class="col-md-6" hidden="hidden">
                <div class="input-group">
                    <input type="text" id="datepicker1" placeholder="Please select booking date" class="form-control" required>
                    <span class="input-group-btn">
                        <button id="BookNow" class="btn btn-info" disabled="disabled" data-bind="click: BookActivity">Book Now</button>
                    </span>
                </div>
                <div id="NewBooking" data-bind="foreach: Activities">
                    <h3 data-bind="text: name"></h3>
                    <strong><label>City:</label></strong> <span data-bind="text: city"></span><br />
                    <strong><label>Directions:</label></strong> <span data-bind="text: directions ? directions : 'Sorry no directions available'"></span>
                </div>
                <hr />
                <div data-bind="foreach: Activities">
                    <div data-bind="foreach: activities">
                        <strong><label>Activity Type:</label></strong><span data-bind="text: activity_type_name ? activity_type_name : 'Sorry there is no Activities information'"></span><br />
                        <strong><label>Website:</label></strong><span data-bind="text: url"></span>

                        <div class="col-md-12">
                            <img data-bind="attr: { src: thumbnail ? thumbnail : 'http://weknowyourdreamz.com/images/adventure/adventure-07.jpg' }" class="img-responsive" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/Index")

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0ZRIjGgtRQXU-ydp8LWrg51Y_9_g0X-Q&libraries=visualization" async defer></script>
}
